
---
- name: Conda 
  become: yes
  shell: conda init bash && source /home/{{lookup('env','ANSIBLE_REMOTE_USER')}}/.bashrc
  
  - name: Download bioexcel github  
  become: yes
  git: >
      repo=https://github.com/bioexcel/biobb_workflows.git
      dest=/opt/bioexcel
      
- name: Create openssl directory
  become: yes
  file:
   path: /opt/openssl
   state: directory
   mode: '0755'

- name: Generate OpenSSL key and certificate
  become: yes
  shell: openssl req -x509 -nodes -days 365 -newkey rsa:2048 -keyout {{jupyter_keyfile}} -out {{jupyter_certfile}} -subj "/C=GB/ST=Cambridge/L=Cambridge/O=Global Security/OU=IT Department/CN=ebi.ac.uk/EA=navis@ebi.ac.uk"

- name: openssl - permission for certfile
  become: yes
  file:
   path: "{{jupyter_certfile}}"
   mode: '0777'
 
- name: openssl - permission for keyfile
  become: yes
  file:
   path: "{{jupyter_keyfile}}"
   mode: '0777'
    
- name: Install Jupyter
  become: '{{ jupyter_package_manager_become }}'
  pip:
    name: 'jupyter'
    state: '{{ jupyter_package_state }}'
    executable: '{{ jupyter_package_manager }}' 
  
- name: Generate Jupyter password
  when: jupyter_plaintext_password != ''
  block:
    - name: Acquire Jupyter password hash
      command: 'python -c "from notebook.auth import passwd; print(passwd(''{{ jupyter_plaintext_password }}''));"'
      register: jupyter_password_output
      no_log: yes
      changed_when: no

- name: Remember Jupyter password hash
  set_fact:
   jupyter_password: '{{ jupyter_password_output.stdout }}'
  changed_when: no

- name: Create Jupyter profile
  command: jupyter notebook --generate-config
  become_user: "{{lookup('env','ANSIBLE_REMOTE_USER')}}"
  args:
    creates: '{{ jupyter_config_filename }}'

- name: Apply Jupyter config
  template:
    src: jupyter_notebook_config.py.j2
    dest: '{{ jupyter_config_filename }}'
    mode: 0644
    force: yes

- name: Install Jupyter as a daemon
  when: jupyter_daemon_enable
  block:
    - name: Find Jupyter server binary
      command: which jupyter-notebook
      register: jupyter_server_which_output
      changed_when: no

- name: Initialize Jupyter server binary path
  set_fact:
     jupyter_daemon_executable: '{{ jupyter_server_which_output.stdout }}'
  changed_when: no

- name: Make sure systemd directory exists
  become: yes
  file:
     path: '{{ jupyter_daemon_systemd_dir }}'
     state: directory

- name: Create systemd script
  become: yes
  template:
     src: jupyter.service.j2
     dest: '{{ jupyter_daemon_systemd_filename }}'
     force: yes     

- name: Enable Jupyter daemon
  become: yes
  shell: "{{item}}"
  with_items:
  - conda activate biobb 
  - jupyter-nbextension enable nglview --py --sys-prefix
  - systemctl enable jupyter.service
  - systemctl daemon-reload
  - systemctl restart jupyter.service
