- name: Create a conda environment
  conda:
    name: python
    version: 3.6.9
    environment: biobb
    state: present
        
- name: Install some packages in the environment
  conda:
   environment: biobb
   name:
     - biobb_common=0.1.4
     - biobb_io=0.1.4
     - biobb_model=0.1.8
     - biobb_md=0.1.5
     - nglview=1.2.0
     - simpletraj
     - pocl

- name: Soft link for OpenCL
  become: yes
  shell: sudo ln -s /etc/OpenCL/vendors /opt/miniconda3/envs/biobb/etc/OpenCL/vendors
